<div class="white tc pv3 ph5">
    
<h1>Welcome to the best bank.</h1>

<p class="f4">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
  molestiae distinctio quia, blanditiis laboriosam praesentium! Aperiam corrupti
  consequuntur autem porro neque dignissimos ad mollitia doloribus perspiciatis
  iure tenetur distinctio magnam quos quam maxime nam inventore ipsum
  voluptatibus excepturi, eum, velit modi minima! Vero voluptas ut accusantium
  illo quis, porro neque consequuntur! Repudiandae blanditiis ipsa velit quaerat
  alias consequatur mollitia error aliquam vitae explicabo maxime, odit
  asperiorevelit non, eum aliquam quae ea aspernatur
  porro accusamus adipisci nulla mollitia praesentium fugit totam. Eius culpa
  voluptatum laudantium ratione expedita nulla sit, magnam incidunt labore,
  similique officia fugiat ullam beatae cupiditate dignissimos nihil ipsa? Saepe
  culpa dolor ut porro eligendi mollitia praesentium sint dolorem atque eveniet
  nisi exercitationem ullam, eum minus laudantium, magnam neque totam magni
  ipsam! Voluptatibus modi impedit, a dignissimos error totam sunt assumenda
  quasi dolorem quis exercitationem odit veritatis ut ipsa, repellat nesciunt.
  Dignissimos, commodi cupiditate. Aperiam quisquam
</p>

</div>
